.container {
    width: 300px;
    padding: 0px;
    display: grid;
    place-items: center;

    .header {
        font-size: 20px; 
    }

    .panel {
        font-size: 20px;
        padding: 0px;
    }
}